.div {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 150%;
}
.infoChild {
    width: 1px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 8px;
}
.div1 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 150%;
    text-align: left;
}
.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.container {
    width: 555px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.footer {
    width: auto;
    position: relative;
    background-color: #fff;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*padding: 0px 360px;*/
    box-sizing: border-box;
    text-align: left;
    font-size: 14px;
    color: rgba(14, 15, 20, 0.7);
    margin-top: 24px;
}

