.div1 {
    position: relative;
    line-height: 150%;
    font-weight: 600;
}
.lv50 {
    position: relative;
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 150%;
    color: rgba(14, 15, 20, 0.7);
}
.title {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.itemIcon {
    width: 8px;
    position: relative;
    height: 8px;
}
.wrapItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
}
.imgArtifactIcon {
    width: 72px;
    position: relative;
    height: 64px;
    object-fit: cover;
    z-index: 0;
}
.div2 {
    width: 72px;
    position: absolute;
    margin: 0 !important;
    top: 68px;
    left: 0px;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.wrap {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    gap: 4px;
}
.artifact {
    width: 88px;
    border-radius: 8px;
    border: 1px solid #d4d4d6;
    box-sizing: border-box;
    height: 126px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    gap: 13px;
}
.iconcircleNegative {
    width: 24px;
    position: absolute;
    margin: 0 !important;
    top: 16px;
    left: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 0;
}
.wrapArtifact {
    width: 376px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 8px;
}
.lv0 {
    flex: 1;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 150%;
}
.lv0Wrapper {
    width: 44px;
    position: relative;
    border-radius: 4px;
    background-color: #f7f7fa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px;
    box-sizing: border-box;
}
.div11 {
    flex: 1;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 150%;
    color: rgba(14, 15, 20, 0.9);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hp {
    flex: 1;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 150%;
}
.atomic {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.effect {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    text-align: left;
    font-size: 13px;
}
.container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    text-align: center;
    font-size: 14px;
    color: rgba(14, 15, 20, 0.7);
}
.div {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
    text-align: left;
    font-size: 24px;
    color: rgba(14, 15, 20, 0.9);
}

